In [2]:
a=int(input("Enter any integer : ")) #This is an example of "inline comment"
print(a*a)

Enter any integer : 9
81

In [3]:
'''
This is an example of block comment. It can expand a few lines
'''
b=int(input('Enter any integer : '))
print(b*b*b)

Enter any integer : 9
729

In [5]:
c=76 #variables in python can be assigned values in this way
print(c)

76

In [8]:
l=[1,2,3,4,5]
t=tuple(l) #changing one data type to another data type in python(list to tuple)
t

(1, 2, 3, 4, 5)

In [9]:
t=(1,2,3,4,5)
l=list(t) #changing one data type to another data type in python(tuple to list)
l

[1, 2, 3, 4, 5]

In [11]:
'''a python script can be written and executed by the command line of jupyter notebook
 write the whole script/command for a python program in a single cell and then press the
 combination of "shift+enter" to execute the python program'''

'a python script can be written and executed by the command line of jupyter notebook\n write the whole script/command for a python program in a single cell and then press the\n combination of "shift+enter" to execute the python program'

In [13]:
my_list=[1,2,3,4,5]
print(my_list[1:3])

[2, 3]

In [14]:
c=(6+2j) #a complex number in mathematics is a set of numbers which are not real numbers
print(c) #a complex number in pytho can be denoted in the form of (a+bj) where a is the real part and bj is the imaginary part with j representing i in mathematics
type(c)

(6+2j)

complex

In [17]:
age=25 # a variable named age can be assigned a value in this way
print(age)
type(age)

25

int

In [19]:
price=9.99 #the data type for price is "float"
print(price)
type(price)

9.99

float

In [22]:
name="Tushar Mitra"
print(name) #name can be printed in this way
type(name) #the data type of the variable is string(str)

Tushar Mitra

str

In [23]:
x="Hello, World!"
print(x[7:12])

World

In [24]:
is_student=True
print(is_student)
type(is_student)

True

bool